
.agendamento {
    background-color: #333;
    padding: 50px;
    text-align: center;
}

.agendamento h2 {
    margin-bottom: 20px;
}

#tabelaHorarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
}

.horario {
    background-color: #444;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.horario.reservado {
    background-color: red;
    cursor: not-allowed;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.btn {
    background-color: #f39c12;
    color: #111;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}


footer {
    background-color: #111;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
