.next
{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
 
.next button
{
    cursor: pointer;
    padding: 10px;
}
 
.next .estou-aki
{
    background: #ffcc00;
}
 
#barbearias {
    color: #f39c12;
}

.barbearias {
    padding: 2rem;
    background-color: #121212;
    color: #fff;
    margin: 5% 1% 5% 1%;
    border-radius: 10px;
}
  
.barbearias h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #f5f5f5;
}
  
.barbearias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1.5rem;
}
  
.barbearia-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.barbearia-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
  
.barbearia-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
  
.barbearia-info {
    flex: 1;
    margin-left: 1rem;
}
  
.barbearia-info h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #f5f5f5;
}
  
.barbearia-info p {
    font-size: 0.9rem;
    margin: 0;
    color: #ccc;
}
  
.rating {
    font-size: 0.9rem;
    color: #ffd700;
    margin-top: 0.5rem;
    display: inline-block;
}

a
{
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
    background-color: #f39c12;
    color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
  
.btn-link:hover {
    background-color: #f39c12;
}
  
.btn-link span {
    font-size: 1.2rem;
    line-height: 1;
}
  

img{
    width: 40px;
}

.barbearia-card .seta
{
    width: 40px;
    height: 40px;
} 