#EmpresasD {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.NovaEmpresa {
    display: flex;
    justify-content: center;
    background-color: #111;
    width: 80%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 10px;
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
}

.modal-conteudo {
    background-color: #2C2C2C;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.fechar {
    color: #f39c12;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: -15px;
    border-radius: 5px;
    background-color: #3B3B3B;
    border: none;
    color: white;
}

button {
    padding: 10px 15px;
    background-color: #f39c12;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f39c12;
}

main 
{
    background: linear-gradient(180deg, rgb(30 30 30) 0%, rgb(30 30 30) 80%, rgb(39 39 39) 100%);
    margin-bottom: -3%;
}

#empresasAcumuladas {
    margin: 30px auto; /* Centraliza o grid na página */
    padding: 20px;
    border-radius: 10px;
    max-width: 90%; /* Define uma largura máxima */
}

#empresasAcumuladas ul {
    display: grid; /* Ativa o grid layout */
    grid-template-columns: repeat(3, 1fr); /* Cria colunas flexíveis */
    gap: 20px; /* Espaçamento entre os itens */
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
}

#empresasAcumuladas li {
    background: #111;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    border: 1px solid #333;
    color: #fff;
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}

#empresasAcumuladas li:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho ao passar o mouse */
}

#empresasAcumuladas img {
    max-width: 100%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Deixa a imagem com cantos arredondados */
}

#empresasAcumuladas hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.avaliacoes {
    text-align: center;
    padding-top: 25px;
    background-color: #333;
    padding-bottom: 30px;
    width: 100%;
}

.avaliacoes h2 {
    color: #f39c12;
    margin-bottom: 35px;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: -10px;
}


.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.item {
    min-width: 100%;
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.item.active {
    opacity: 1;
    position: relative;
    z-index: 1;
}

.item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #f39c12;
}

.item .data {
    font-size: 0.9em;
    color: #999;
}

.item p {
    font-size: 1em;
    color: #ddd;
    max-width: 75%;
    margin: 8px auto; 
}


.item .estrela {
    font-size: 1.2em;
    color: #f39c12;
}

/* Botões de navegação */
#next, #prev {
    position: absolute;
    top: 50%;
    color: #f39c12;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
}

#next {
    right: 10px;
}

#prev {
    left: 10px;
}

#barbearias {
    color: #f39c12;
}

.nomeBarb
{
    font-size: 25.6px;
}

li p 
{
    font-size: 16px;
}

.bruxas
{
    background: linear-gradient(360deg, rgb(30 30 30) 0%, rgb(30 30 30) 50%, rgb(39 39 39) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: #f39c12;
}

.boxDescubra
{
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #111;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.boxDescubra h4 
{
    font-size: 1.5em;
}

.bb1
{
    width: 50%;
}

.boxDescubra h5
{
    font-size: 1.3rem;
}

textarea {
    color: white;
    width: 80%; /* Adapta ao tamanho do elemento pai */
    height: 100px; /* Define uma altura padrão */
    padding: 10px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho de fonte */
    border-radius: 5px;
    background-color: #3B3B3B;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label {
    width: 90%;
}

h2 {
    text-align: center;
    color: #f39c12;
}


h3{
    text-align: center;
}