.perfil-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.perfil-info {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
}

.perfil-info img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-top: 15px;
    object-fit: cover;
}

.perfil-info h2 {
    margin-top: 10px;
    color: #f39c12;
}

.perfil-info button {
    background-color: #f39c12;
    color: #111;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
}

.perfil-info button:hover {
    background-color: #d78d0e;
}

.perfil-opcoes {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 65%;
}

.perfil-opcoes h3 {
    color: #f39c12;
    margin-bottom: 15px;
}

.opcao {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opcao:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #333;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    color: #fff;
    position: relative;
}

.btn{
    background-color: #f39c12;
    color: #111;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
    width: 20%;
}

#inputs{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 4%;
    width: 70%;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: #f39c12;
    cursor: pointer;
}

.modal-content h2 {
    color: #f39c12;
}

h2{
    text-align: center;
    color: #f39c12;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    display: flex;
    width: 74%;
    justify-content: flex-start;
}

#labelfoto {
    display: flex;
    justify-content: center; 
}

#sair{
    background-color: #f39c12;
    color: #111;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
    width: 20%;
}